body { margin-right:50%;
		width:95%;
		font: 80%/1.33 Verdana, sans serif;
		text-align:left;
		margin-left:1%;
		background-
		color:black;
      background-image:url(img/vista.jpg);
		color:#9FF7F1;
		background-size:100%;
		background-repeat:no-repeat;
		background-attachment : fixed;
		font-weight:bold;
		

     

		
		}

h1 	{margin-left:1%;
		text-align:left;
		color:#35BFAD;
		
		}
