body { 
	background-color:#008E8E;
	background-size:100%;
	background-repeat:no-repeat;
	font-weight:bold;
	}

h1 { color:#000000;
	  text-decoration:underline;
	  padding-left:200px;
	  }



		
img { border-style:none; 
     
    }



		
